



    <HTML>
        <HEAD>
        Definiciones de la cabecera
        </HEAD>
        <body>

            <nav class="navbar">
                <a class="navbar-brand" href="/secure">
                  <img src="../../assets/img/logo.png" width="60" height="50" class="d-inline-block align-top" alt="">

                </a>
              </nav>




                <div class="jumbotron" id="num1">
                    <div class="container">
                      <h1 class="display-4"> Bienvenido {{infopag.info.nombre}} al TEST de la UBO  </h1>
                      <p class="lead">Instrucciones</p>
                      <p class="lead">El test consta de 90 preguntas</p>
                      <p class="lead">Estas tienen como opcion de respuesta</p>
                      <p class="lead">Me desagrada mucho,
                        No me gusta,
                        Me es indiferente,
                        Me gusta,
                        Me gusta mucho
                      </p>
                      <p class="lead">Las cuales reflejaran tu interes sobre la actividad dada.</p>
                    </div>
                  </div>

                  <div class="jumbotron" id="num2">
                    <button class="button" id="boton" (click)="mandarTest()">Realizar Test</button>
                  </div>


 



        </body>
  </HTML>
