



    <HTML>
        <HEAD>
        Definiciones de la cabecera
        </HEAD>
        <body>

            <nav class="navbar">
                <a class="navbar-brand" href="#">
                  <img src="../../assets/img/logo.png" width="60" height="50" class="d-inline-block align-top" alt="">

                </a>
              </nav>


                <div class="col-6 col-md-2" >

                    <div id="sidebar-wrapper" class="sidebar-toggle">
                        <ul class="sidebar-nav">
                            <li>
                                  <a href="#item1">Home</a>
                            </li>
                            <li>
                                  <a href="#item2">Resultados</a>
                            </li>
                            <li>
                                  <a href="#item3">Item 3</a>
                            </li>

                            <li id="logoInferior">
                               <a href="https://www.ubo.cl"><img src="../../assets/img/1_logo_ubo.png" width="170" ></a>
                             </li>




                          </ul>
                    </div>

                </div>

                <div class="jumbotron" id="num1">
                    <div class="container">
                      <h1 class="display-4"> Bienvenido {{infopag.info.nombre}} al test de la UBO  </h1>
                      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                    </div>
                  </div>

                  <div class="jumbotron" id="num2">
                    <button class="button" id="boton" (click)="mandarTest()">Realizar Test</button>
                  </div>


 



        </body>
  </HTML>
