



    <HTML>
        <HEAD>
        Definiciones de la cabecera
        </HEAD>
        <body>

            <nav class="navbar">
                <a class="navbar-brand" href="#">
                  <img src="../../assets/img/logo.png" width="60" height="50" class="d-inline-block align-top" alt="">

                </a>
              </nav>


              <div class="card text-center container">
                <div class="card-header">
                  Resultados
                </div>
                <div class="card-body">



                    <div class="container">
                        <div class="row">
                          <div class="col">
                     <mat-card>INFO </mat-card>
                          </div>
                          <div class="col">
                            <mat-card > 
                        
                            </mat-card>

                          </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                          <div class="col">
                            <mat-progress-spinner
                            mode="determinate"
                            color="primary"
                            [value]="50">
                        </mat-progress-spinner>
                        <br>
                        <h1 class="text-left">asdas</h1>
                          </div>
                          <div class="col">
                            <mat-progress-spinner
                            mode="determinate"
                            color="accent"
                            [value]="50">
                        </mat-progress-spinner>
                        <br>
                        <h1 class="text-left">asdas</h1>
                          </div>
                          <div class="col">
                            <mat-progress-spinner
                            mode="determinate"
                            color="warn"
                            [value]="50">
                        </mat-progress-spinner>
                        <br>
                        <h1 class="text-left">asdas</h1>
                          </div>
                        </div>
                      </div>




   
  
    
               

                  

                  <a href="#" class="btn btn-primary">EXPORTAR RESULTADOS A PDF</a>
                </div>
                <div class="card-footer text-muted">
                  UNIVERSIDAD BERNARDO O'HIGGINS
                </div>
              </div>


           
      


 



        </body>
  </HTML>
