body{


    background-color: aliceblue;
    background-position: center;
    background-size: cover;
    height: 100%;

}

.navbar {
  background-color: #032355;
  position: -webkit-sticky; /* Safari */
 position: sticky;
 top: 0;

}

.navbar-brand{
   color: white;
}


.card{
  margin-top: 1cm;
}


.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}


#btnRespuesta{
background-color: #032355;
color: white;
border-radius: 1cm;
padding: 2%;

}


#btnRespuesta:hover{
  background-color: #47679b;

  }


#prueba1:hover{
  -webkit-transform: rotateY(360deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(360);
  transform-style: preserve-3d;
  transition: 1.5s;
}

#question{
background-color: #032355;
color: white;
}

