<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="caja">


        <div class="padre">


            <div class="hijo">

                <img src="../../assets/img/logo.png" id="prueba">
                <form novalidate autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">

                    <div>

                        <div class="form-group row">
                            <label class="col-2 col-form-label"></label>
                            <div class="col-8">

                                <input class="form-control" type="text" name="nombre" ngModel placeholder="Nombre" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-2 col-form-label"></label>
                            <div class="col-8">

                                <input class="form-control" type="text" placeholder="Apellidos" name="apellido" ngModel required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-2 col-form-label"></label>
                            <div class="col-8">

                                <input class="form-control" type="email" placeholder="Correo electronico" name="correo" ngModel required>

                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-2 col-form-label"></label>
                            <div class="col-8">

                                <input class="form-control" type="text" placeholder="Confirmar Correo" name="contrasena" ngModel required>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-2 col-form-label"></label>
                            <div class="col-8">

                                <input class="form-control" type="text" placeholder="Telefono" name="telefono" id="caja" minlength="9" ngModel required>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-2 col-form-label"></label>
                            <div class="col-8">

                                <input class="form-control" type="text" placeholder="RUT (1111111-1)" name="rut" id="caja" minlength="9" maxlength="10" ngModel required>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-2 col-form-label"></label>
                            <div class="col-8">

                                <select name="gradoCurso" class="form-control" ngModel required>
                                    <option value="">Selecciona nivel que cursas</option>
                                    <option value="1° Medio">1° Medio</option>
                                    <option value="2° Medio">2° Medio</option>
                                    <option value="3° Medio">3° Medio</option>
                                    <option value="4° Medio">4° Medio</option>
                                    <option value="Egresado">Egresado</option>
                                  </select>

                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-2 col-form-label"></label>
                            <div class="col-8">


                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sexo" ngModel value="0" required>
                                    <label class="form-check-label" for="inlineRadio1">Masculino</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sexo" ngModel value="1" required>
                                    <label class="form-check-label" for="inlineRadio2">Femenino</label>
                                </div>

                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-2 col-form-label"></label>
                            <div class="col-8">

                                <select class="form-control" id="exampleFormControlSelect1" (change)="onSelect($event.target.value)" name="facultad" ngModel required>
                                  <option value="">Facultad de interes</option>
                                    <option *ngFor="let country of countries" value="{{country.id}}">
                                  {{country.name}}
                              </option>
                        </select>

                            </div>
                        </div>


                        <div class="form-group row" *ngIf="cities?.length > 0">
                            <label class="col-2 col-form-label"></label>
                            <div class="col-8">
                                <label for="exampleFormControlSelect2">Escoge Carrera de interés</label>
                                <select class="form-control" id="exampleFormControlSelect2" ngModel name="preferenciaCarrera" required>
                                    <option value="">Carrera</option>
                                    <option *ngFor="let city of cities" value="{{city.name}}" ngDefaultControl >
                                 {{city.name}}
                              </option>
                            </select>

                            </div>
                        </div>


                    </div>




                    <div class="form-group row">
                        <label class="col-2 col-form-label">&nbsp;</label>
                        <div class="input-group col-md-8">
                            <button type="submit" [disabled]="forma.invalid" class="btn btn-outline-dark btn-block">
                      Enviar
                    </button>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</body>
