body {
    margin: 0;
    padding: 0;
    background-image: url(../../assets/img/fondoubo.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 130px;
    max-width: 600px;
    height: 600px;
    border-radius: 5%;
    background: linear-gradient(#d4d1d1,#797979)

  }



  .hola{
  
	transform: scale(1);
  			transition: .3s ease-in-out;

}

.hola:hover{
    transform: scale(1.1);


  }

#cajita{
   
   
}

#logo{
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 40%;
}


#caja:invalid:focus {
  background-color: rgb(255, 170, 170);
  border: 2px solid red;
}


#prueba:hover{
  -webkit-transform: rotateY(360deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(360);
  transform-style: preserve-3d;
  transition: 1.5s;
}

.btn:hover{
  background-color: #032355;
}

