body {
    margin: 0;
    padding: 0;
    background-image: url(../../assets/img/fondoubo.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.padre {
    height: 50vh;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo {
    background: linear-gradient(#707070, #d3d3d3);
    width: 40em;
    margin-top: 50vh;
    padding-top: 1cm;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 5vh
}

.form-group {
    margin: 0px 0px 10px;
}

#prueba {
    margin-bottom: 1cm;
}

#prueba:hover {
    -webkit-transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(360);
    transform-style: preserve-3d;
    transition: 1.5s;
}